---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    With close to 3 years in Software QA Testing, I focus on Manual Testing and
    Automation procedures. I help companies enhance software quality with QA
    strategies, reducing the risk of critical bugs and improving user experience
    across web and mobile platforms.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science"
      subtitle="From 2022 - Present, at UNED, Costa Rica."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">

    <TimeLineElement
    title="Software Tester"
    subtitle="From Sep 2024 at Testlio, Remote"
  >
    > Participating in weekly runs for a major storage platform. <br />
    > Mobile Testing using real devices. <br />
    > Execution of different test cases. <br />
    > Bug reporting. <br /><br />

    🛠 Tools: Bandicam, Rocket Chat, Android Studio<br />

  </TimeLineElement>

    <TimeLineElement
      title="QA Manual Tester"
      subtitle="From Dec 2022 at Applause(Utest), Remote"
    >
      ⚙ Technologies worked on: Shopify, VTEX, AngularJS<br />
      🛠 Tools: Bandicam, Slack, iMazing, Charles Proxy, Log File (Chrome DevTools),
      Handbrake.<br /><br />

      > Experience in analysis of requirements for each project. <br />
      > Proficiency in Test Case Execution across different projects. <br />
      > Strong knowledge of bug reporting and tracking, following the respective
      scope section and guidelines. <br />
      > Participated in live deployments for a major streaming platform, conducting real-time testing to ensure successful releases and prevent critical issues. <br />
      > Types of test performed: Regression, exploratory, sanity, retesting, payment(in-app
      purchases and local payments), mobile(iOS, Android). <br /><br />

      Accomplishments:<br /><br />

      📌 Attaining the "SILVER" rank, the second-highest position on the
      platform.<br />
      📌 Receiving 3 recognitions for the tester of the week in cycles conducted
      by the Utest Academy.<br />
    </TimeLineElement>

    <TimeLineElement
      title="QA Tester"
      subtitle="From Dec 2023 to August 2024 at GovAssist, San Juan, Puerto Rico"
    >
      🔄Scrum as the methodology used: <br />
      > Daily Sprint: Following up with issues and blockers. <br />
      > Sprint retrospectives: Feedback for improvements across all projects. <br
      /><br />

      🛠Technologies: WordPress, Figma, Node.js, VueJS, React, JavaScript,
      Laravel, PHP, BitBucket. <br /><br />

      > JIRA for Test Management and Bug Tracking. <br />
      > Confluence for QA documentation. <br />
      > Test Case creation/execution using QA Touch Test Management. <br />

      Testing Techniques: <br />
      > Black Box techniques and Experience-based techniques. <br />

      > Exploratory, Regression E2E, Retesting, API, payment, Cross-browser, Mobile.
      <br />
      > Utilized Postman for API testing, including sending requests, validating responses, and troubleshooting
      issues. <br />   
      > Experience in the use of BrowserStack for Mobile testing, ensuring the most used viewports were covered. <br />
      > Conducted E2E automation regression runs with Katalon and Cypress after each
      deployment to detect vulnerabilities and ensure a seamless end-to-end user
      experience.<br /><br />

      📨Experienced in marketing tools for testing purposes: Sendgrid, Affiliate
      Pro, Active Campaign.<br />
      💳Ensured payment testing across different gateways and validated correct submissions:
      NMI, Bluesnap, Stripe, Dlocal. <br />
      ⚙Bug reporting and tracking, following Bug Life Cycle.<br />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-KendallVargasJim%C3%A9nez..-912981.pdf"
        target="_blank"
      >
        Scrum Fundamentals Certified</a
      >
    </li>
    <li>
      <a
        href="https://cert.efset.org/sFPcM9"
        target="_blank"
      >
        EF SET Certificate, C2 Proficient</a
      >
    </li>
    <li>
      <a
        href="https://testautomationu.applitools.com/certificate/?id=71733d8b"
        target="_blank"
      >
        Setting a Foundation for Successful Test Automation</a
      >
    </li>
    <li>
      <a
        href="https://udemy-certificate.s3.amazonaws.com/image/UC-8e730e8c-f7b2-451a-bd5e-6c1e4b24c6ec.jpg"
        target="_blank"
      >
        Cypress: E2E Automation Testing with JS, in depth</a
      >
    </li>
    <li>
      <a
        href="https://udemy-certificate.s3.amazonaws.com/image/UC-cf5d8e80-3715-4f05-9530-def447da96ef.jpg"
        target="_blank"
      >
        Dominating Playwright with TypeScript: Modern E2E Testing</a
      >
    </li>
    <li>
      <a
        href="https://udemy-certificate.s3.amazonaws.com/image/UC-82393b7b-46f1-4667-b79e-9a1fd5f31f1f.jpg"
        target="_blank"
      >
        DevTools for Testers</a
      >
    </li>
    <li>
      <a
        href="https://udemy-certificate.s3.amazonaws.com/image/UC-055692e5-23bd-4f6b-bfe5-4ec4016e19ca.jpg"
        target="_blank"
      >
        Programming for Testers: Everything you need to know!</a
      >
    </li>
    <li>
      <a
        href="https://udemy-certificate.s3.amazonaws.com/image/UC-099fffd6-71f8-4851-b836-81649cd77b1f.jpg"
        target="_blank"
      >
        Selenium WebDriver with Java for beginners</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English B2+</li>
    <li>Team-player</li>
    <li>Problem-solving</li>
    <li>TC Creation</li>
    <li>TC Execution</li>
    <li>Bug Life Cycle</li>
    <li>Payment Gateways</li>
    <li>Functional Testing</li>
    <li>Automation</li>
    <li>Git</li>
    <li>BitBucket</li>
    <li>GitHub</li>
    <li>GitHub Actions</li>
    <li>Jira</li>
    <li>CI/CD</li>
    <li>Scrum</li>
    <li>QA Touch</li>
    <li>Notion</li>
    <li>Postman</li>
    <li>BrowserStack</li>
    <li>Cypress</li>
    <li>Katalon Studio</li>
    <li>Programming</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>HTML/CSS</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold" style="
    margin-top: 20px">
      Technologies worked on:
    </div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>WordPress</li>
    <li>Shopify</li>
    <li>Figma</li>
    <li>Node.js</li>
    <li>React</li>
    <li>VueJS</li>
    <li>Laravel</li>
    <li>PHP</li>
    <li>VTEX</li>
    <li>AngularJS</li>
  </ul>
</BaseLayout>
